.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icondiv{
    width: 2rem;
    z-index: 2;
    background-color: #fff;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

input::-webkit-input-placeholder {
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-left: .5rem !important;
    word-spacing: .2rem;
}

#icon2 , #icon1{
    transition: all 1s ease;
}

.icon{
    margin-top: .6rem;
    margin-left: .2rem;
    z-index: 3;
    font-size: large;
    color: #241722;
}

.searchinp{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    height: 2.5rem;
    width: 15rem;
    border: none;
    text-decoration: none;
    border: .1rem solid #fff;
    padding: .5rem;
    background-color: rgb(67, 99, 173);
    outline: none;
    color: yellow;
    font-size: 1rem;
    font-weight: bold;
}