@import "../../global.scss";

.navbar {
    position: absolute;
    z-index: 1;
    border-bottom: .3rem solid rgb(220, 220, 164);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background:linear-gradient(-45deg , #EE7752, #E73C7E, #23A6D5,#23D5AB);
    background-size: 400% 400%;
    color: black;

    position: fixed;
    top: 0;
    z-index: 3;
    animation: change 10s ease-in-out infinite;

    @keyframes change {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
        
    }

        ul{
            position: relative;
            margin-top: -2.5rem;
            padding: 3.5rem;
            list-style: none;
            font-size: 30px;
            color: white;
            font-family: $font;
            font-weight: 300;
            display: flex;
            gap:1.5rem;
            
            li {
                text-decoration: none;
                color: white;
                outline: none;
                list-style: none;
                position: relative;
                
                &>*:after{
                    content: "";
                    position: absolute;
                    background-color: red;
                    height: .3rem;
                    width: 0;
                    left: 0;
                    bottom: -3.8rem;
                    transition: .3s;

                }
                &>*:hover::after{
                    width: 100%;
                }

                
                .ltext{
                text-decoration: inherit;
                font-size: inherit;
                color: coral;
                outline: none;
                
            }
            
            
            &:hover{
                font-weight: 600;
            }

        }
        
    }


    .left{
        display: flex;
        flex-direction: row;
        gap:0;

        .heading {
            padding: 2rem;
            margin-top: -.6rem;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }

        img{
            margin-top: 0rem;
            height: 4.5rem;
            width: 4.5rem;
        }
    }
}