@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

$roboto:'Inter', sans-serif;

$font: 'Koulen', cursive;

$homecolor: rgb(67, 99, 173);