.list{
    height: 4rem;
    width: 30rem;
    border:.2rem solid rgb(54, 43, 150);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap:5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
}

.ul{
    color:chartreuse;
    margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
}

.ul .icon{
font-size: 2.5rem;
}

.ul .value{
    margin-left: .7rem;
}